html {
	font-size : 0.8em;
}

body {
	margin : 0px;
	max-width: 100vw;
	min-height: 100vh;
	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column; 
	
}

.global {
	
	max-width: 100vw;
	/*Propriété comme item flex*/
	flex: 1 0 100vw;
	/*Conteneur flex en rangée*/
	display: flex;
	/*Poussée vers la gauche pour ne pas voir le menu*/
	transform: translateX(-50vw); 
	/*Effet de transition sur la transformation*/
	transition: transform 1s;
	/*	overflow-x: hidden; */
	}

	.boutonBurger {
		background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
		height: 48px;
		width: 48px;
		margin: 1%;
		display: inline-block;
		cursor: pointer;
		/*Effet de transition sur la rotation*/
		transition: transform 1s;
	}

	.menu {
		background-color : $color__menu-nav;
		text-align: center;
		/*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
		width: 50vw;
		/*Propriété comme item flex - ne peut rétrécir*/
		flex: 1 0 50%;
		/*Contexte flex en colonne pour ses enfants*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow-x: hidden;
		overflow-y: auto;
	}



		#chkBoutonBurger:checked~.global {
			transform: translateX(0%);
		}

		#chkBoutonBurger:checked~.boutonBurger {
			transform: rotate(90deg);
		}

		#chkBoutonBurger {
			display: none;
		}

		

.img1 {
	grid-area: img1;
}

.img2 {
	grid-area: img2;
}
.img3 {
	grid-area: img3;
}
.img4 {
	grid-area: img4;
}
.img5 {
	grid-area: img5;
}
.img6 {
	grid-area: img6;
}

.content1 {
	grid-area: content1;
	
	
}

.content2 {
	grid-area: content2;
}

.content3 {
	grid-area: content3;
}


.header {
	grid-area: header;
	
	
}

.footer {
	grid-area: footer;
	 
}

.conteneur {
	background-color:   rgb(218, 179, 51);
	color: #444;
}
/* conteneur est un élément flex et en même temps un conteneur grid */
.conteneur {
		/*Sa largeur est fixée à 100%*/
		width: 100vw;
		/*Propriété comme item flex - ne peut rétrécir*/
		flex: 1 0 100%;
		/*Conteneur flex en colonne pour ses enfants*/
		flex-flow: column nowrap;
		overflow-x: hidden;
		overflow-y: auto;

		display: grid;
		width : 100vw;
		grid-gap: 1em;
		grid-template-areas:
			"header"
			"img1"
			"img2"
			"img3"
			"img4"
			"img5"
			"img6"
			"content1"
			"content2"
			"content3"
			"footer"
}

@media only screen and (min-width: 500px) {
	.conteneur {

		grid-template-columns: auto auto;
		grid-template-areas:
			"header header"
			"img1 img2"
			"img3 img4"
			"img5 img6"
			"content1 content1"
			"content2 content2"
			"content3 content3"
			"footer footer";

		min-width: 500px;
	}
}

@media only screen and (min-width: 900px) {
	html {
		font-size: 1em;
	}

	.boutonBurger {
		display: none
	}

	.global {
		/* Placer à sa potition d'origine */
		transform: translateX(0%);
		/*Mettre le contenu en colonne*/
		flex-direction: column;
	}

	.menu {
		/*Propriété comme item flex - ne peut s'étirer en hauteur*/
		width: 97vw;
		margin-bottom: 10px;
		border-radius : 10px;
		flex: 0 0 100%;

		/*Affichage du menu en rangée*/
		flex-direction: row;
		justify-content: space-between;

		 a {
				border: none;
				border-left: 1px solid white;
				/*Propriété comme item flex - peut s'étirer en largeur*/
				flex: 1 0 auto;
		

		 &:first-child {
				border-top: none;
			}
		 }	

	}

	.conteneur {
		grid-gap: 20px;
		grid-template-columns: 1fr 2fr 1fr;
		//grid-auto-rows: 100px;
		grid-template-areas:
			"header  header  header"
			" img1 content1 img2"
			"img3 content2 img4"
			"img5 content3 img6"
			"footer  footer  footer";
		max-width: 100%;
	}
}

.box {
	background-color: rgb(0, 0, 0);
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
}

.header{
	background-color: rgb(0, 0, 0);
	display:flex;
	

	
}

.mainPic{
	padding-left: 0%;
	padding-top: 0%;
}

.titre {
	
	display: inline-block;
	text-align: center;
	font-size:585%;

}
.footer {
	background-color: rgb(0, 0, 0);
}

.sidebar2 {
	background-color: #ccc;
	color: #444;
}

